<section>
    <h1>Login de usuario</h1>
    <form method="POST" action="/login">
        <label for="nombre">Ingrese su nombre:</label>
        <input id="nombre" name="nombre" type="text" />
        <input type="submit" value="Enviar" />
    </form>
</section>